
body {
    background-color: #551b41;
    color: rgb(212, 178, 201);
    font-style: oblique;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #cfce7c;
    color: rgb(44, 7, 24);
    font-style: oblique;
}

.passo {
    display: none;
}
.passo.ativo {
    display:block;
}
